/* === PROPERTY HOST CONTAINER === */
.property-host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;

  .host {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }

  .host span {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    padding: 10px;
  }
  


  .host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: grey;
  }
}

/* === RESPONSIVE DESIGN === */
@media (max-width: 768px) {
  .property-host {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;

    .host span {
        font-size: 12px;
        line-height: 17.11px;
      }
      

    .host img {
      width: 32px;
      height: 32px;
    }
  }
}
